{% extends 'base.html' %}

{% block content %}
<h1>Wish List Items</h1>
  {% if item_list %}

    <table class="pure-table pure-table-striped">
      <thead>
        <tr>
          <th>DESCRIPTION</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        {% for item in item_list %}
          <tr>
            <td> {{ item.description }} </td>
            <td><a href="">X</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>No Wish Items Exist</h3>
  {% endif %}
    <hr>
    <a href="{% url 'wish_create' %}" class="pure-button">ADD A Wish Item</a>
{% endblock %}










